@charset "utf-8";

:root { 
  --main-font : "Nanum Gothic" ;
  --sub-font : 'WAGURITTF';
  --main-color : #FFD700;
  --sub-color : #FFFBE8;
  --hover-color : #040F67;
}

body { font-family: "Nanum Gothic", 'WAGURITTF', sans-serif ; color: #000; font-size: 1.6rem; line-height: 1.5;}

.inner { padding: 0 10%; margin: 0 auto;}
section { padding: 100px 6%;}

/* header */
#header { position: fixed; top: 0; width: 100%; z-index: 5; padding: 20px; background: #fff; }
#header .inner { display: flex; justify-content: space-between; align-items: center; padding: 0 5%; }

#header .inner h1 a { display: block;}
#header .inner h1 a img { display: block; width: 80%; height: 80%; }

#header .gnb { display: flex; justify-content: space-between; gap: 15px; align-items: center;} 

#header .ham { font-size: 3.2rem; cursor: pointer; color: var(--hover-color); display: none; }
#header .gnb > li { position: relative;}
#header .gnb > li > a { display: block; padding: 15px 55px; font-size: 2.2rem; color: #000; font-family: var(--sub-font);}
#header .gnb > li:hover > a { color: var(--hover-color);}


#header .gnb > li > .depth2 { position: absolute; top: 50px; left: 0; width: 100%; background: var(--hover-color); text-align: center; border-radius: 10px;}
#header .gnb > li > .depth2 li a { font-family: var(--sub-font); display: block; color: var(--sub-color); font-size: 1.6rem; padding: 15px;}


#header .gnb > li > .depth2 li:first-of-type:hover a { color: var(--hover-color); background: var(--sub-color); border-radius: 7px 7px 0 0;}
#header .gnb > li > .depth2 li:nth-of-type(2):hover a { color: var(--hover-color); background: var(--sub-color); border-radius: 0;}
#header .gnb > li > .depth2 li:last-of-type:hover a { color: var(--hover-color); background: var(--sub-color); border-radius: 0 0 7px 7px;}

/* mobile_wrap */
.mobile_wrap { position: fixed; left: -150%; top: 0; max-width: 100%; height: 100%; background: var(--sub-color); padding: 20%; display: flex; flex-direction: column; align-items: center; z-index: 999; text-align: center;}
.mobile_wrap h3 { font-size: 3.5rem; font-weight: 900; color: var(--hover-color); }
.mobile_wrap .mobile_gnb { margin: 30px 0 auto; }
.mobile_wrap .mobile_gnb > li { padding: 20px 0;}
.mobile_wrap .mobile_gnb > li > a { display: block; font-size: 3rem; font-weight: 700; }
.mobile_wrap .mobile_close { position: absolute; right: 0; top: 0; color: #fff; font-size: 2.4rem; cursor: pointer; background: var(--hover-color); padding: 10px; }

.mobile_wrap .mobile_gnb .mobile_depth2 > li { padding: 10px 0; }
.mobile_wrap .mobile_gnb .mobile_depth2 > li > a { font-size: 1.6rem; }

/* zep_btn */
.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #6758ff;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 3px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.5);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 20px;
}

.icon-arrow {
  width: 15px;
  margin-left: 10px;
  position: relative;
  top: 4%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}


@media (max-width:768px) {
  .mobile_none { display: none; }
  #header .ham { display: block; }
  #header .inner h1 a img { width: 70%; height: 70%; margin-left: auto; margin-right: -20%;}
  #header .gnb > li > a { display: none;}
  #header .zep_btn .btn-content { width: 100%; height: 100%; margin-right: -30%; }
  #header .zep_btn .btn-content .btn-title { padding: 3px 5px; font-size: 1.5rem; }
  #header .zep_btn .btn-content .icon-arrow svg { width: 40px; height: 26px;}
}



/* footer */

#footer { padding-top: 150px; width: 100%; height: 100%; margin: 0 auto; text-align: center; padding: 50px;}
#footer .footer_logo { padding: 20px;}


/* footer sns */
#footer .sns { padding: 30px 0 10px;}

#footer .sns .footer_sns .example-2 { display: flex; justify-content: center; align-items: center;}
#footer .sns .footer_sns .example-2 .icon-content { margin: 0 10px; position: relative;}
#footer .sns .footer_sns .example-2 .icon-content .tooltip { position: absolute; top: -30px; left: 50%; transform: translateX(-50%); color: #fff; padding: 6px 10px; border-radius: 5px; opacity: 0; visibility: hidden; font-size: 14px; transition: all 0.3s ease;}

#footer .sns .footer_sns .example-2 .icon-content:hover .tooltip { opacity: 1; visibility: visible; top: -40px;}

#footer .sns .footer_sns .example-2 .icon-content a { position: relative; overflow: hidden; display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; border-radius: 50%; color: #4d4d4d; background-color: #fff; transition: all 0.3s ease-in-out;}

#footer .sns .footer_sns .example-2 .icon-content a:hover { box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);}

#footer .sns .footer_sns .example-2 .icon-content a svg { position: relative; z-index: 1; width: 30px; height: 30px;}

#footer .sns .footer_sns .example-2 .icon-content a:hover { color: white;}

#footer .sns .footer_sns .example-2 .icon-content a .filled { position: absolute; top: auto; bottom: 0; left: 0; width: 100%; height: 0; background-color: #000; transition: all 0.3s ease-in-out;}

#footer .sns .footer_sns .example-2 .icon-content a:hover .filled { height: 100%;}

#footer .sns .footer_sns .example-2 .icon-content a[data-social="facebook"] .filled,
#footer .sns .footer_sns .example-2 .icon-content a[data-social="facebook"] ~ .tooltip { background-color: #3b5998;}

#footer .sns .footer_sns .example-2 .icon-content a[data-social="instagram"] .filled,
#footer .sns .footer_sns .example-2 .icon-content a[data-social="instagram"] ~ .tooltip { background: linear-gradient(45deg, #405de6, #5b51db,#b33ab4,#c135b4,#e1306c,
#fd1f1f);}

#footer .sns .footer_sns .example-2 .icon-content a[data-social="youtube"] .filled,
#footer .sns .footer_sns .example-2 .icon-content a[data-social="youtube"] ~ .tooltip { background-color: #ff0000;}


address { font-size: 1.5rem; color: rgba(0,0,0,0.6);}
.copy { font-size: 1.4rem; color: rgba(0,0,0,0.6); padding-top: 20px;}


@media (max-width:768px) {
  #footer .footer_logo img { display: block; width: 100%; height: 100%;}
  address { font-size: 1.2rem;}
  .copy { font-size: 1.1rem;}
}



