@charset "utf-8";

/* container */

/* mv */
#mv { position: relative; background: #e5e5e5; width: 100%; height: 500px;}

#mv .mv_bg img { position: absolute; top: 0; left: 0; display: block; width: 1920px; height: 500px; object-fit: cover;}

#mv .depth_sec { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 70%; height: 80px; background: #fff; border-radius: 50px 50px 0 0;}
#mv .depth_sec ul { display: flex; justify-content: space-between; align-items: center; width: 100%; height: 100%; }

#mv .depth_sec ul li { width: calc(100% / 2); height: 100%;}
#mv .depth_sec ul li a { width: 100%; height: 100%; display: block; padding-top: 25px; font-size: 25px; text-align: center;}

#mv .depth_sec ul li.on a { background: #040F67; color: #fff; font-weight: 700; border-radius: 0 40px 0 0;}
/* #mv .depth_sec ul li:hover a { background: #040F67; color: #fff;} */

@media (max-width:768px) {
    #mv .depth_sec ul { flex-wrap: wrap;}
    #mv .depth_sec ul li { display: none;}
    #mv .depth_sec ul li.on { display: block; width: 100%; background: #040F67; color: #fff; font-weight: 700;  border-radius: 40px 40px 0 0; overflow: hidden;}
}

/* info */
#info { width: 100%; height: 100%; margin: 0 auto;}

#info .beerinfo { width: 100%; height: 100%; display:flex; flex-wrap: wrap; gap: 20px; }
#info .beerinfo .box { width: calc((100% - 40px) / 3); text-align: center; }
#info .beerinfo .box .imgbox { height: calc(100% - 20%); align-items: center;}
#info .beerinfo .box .imgbox img { display: block; width: 80%; height: 100%; border-radius: 40px; margin-left: 10%;} 
#info .beerinfo .box span { font-size:2rem; font-weight: 700;}
#info .beerinfo .box p { padding-top: 5%; font-size:1.4rem;}
#info .beerinfo .box p:last-child { padding: 5% 0; }

@media (max-width:768px) {
  #info .beerinfo .box { width: 100%;}
}